body{
    margin: 0;
    box-sizing: border-box;
    background: rgb(249, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: sans-serif;
    
}
a{
    text-decoration: none;
}
.btn{
   background-color: pink;
   padding: 20px 40px;
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.3);
   color: black;
   position: relative;
   overflow: hidden;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}
.btn span{
    position: relative;
    z-index: 1;
}
.btn:hover::before{
    width: 300px;
    height: 300px;
}